VERCEL_ENV=development
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/aimathtutor
GEMINI_API_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=
LANGFUSE_HOST=
LANGFUSE_PROMPT_LABEL=
